<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhtlwb.dbfinal.persistence.ProblemDao">

    <insert id="insertProblem" parameterType="com.xhtlwb.dbfinal.model.Problem" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO problem(problem_face, problem_choose_1, problem_choose_2, problem_choose_3, problem_choose_4, answer, created_time, updated_time, status)
        VALUES (#{problemFace}, #{problemChoose1}, #{problemChoose2}, #{problemChoose3}, #{problemChoose4}, #{answer}, now(), now(), #{status})
    </insert>

    <update id="updateInfo" parameterType="com.xhtlwb.dbfinal.model.Problem">
        UPDATE problem
        SET
        <if test="problemFace!=null">
            problem_face = #{problemFace},
        </if>
        <if test="problemChoose1!=null">
            problem_choose_1 = #{problemChoose1},
        </if>
        <if test="problemChoose2!=null">
            problem_choose_2 = #{problemChoose2},
        </if>
        <if test="problemChoose3!=null">
            problem_choose_3 = #{problemChoose3},
        </if>
        <if test="problemChoose4!=null">
            problem_choose_4 = #{problemChoose4},
        </if>
        <if test="answer!=null">
            answer = #{answer},
        </if>
        updated_time = now()
        where id = #{id};
    </update>

    <select id="selectOneProblem" parameterType="com.xhtlwb.dbfinal.model.Problem" resultType="com.xhtlwb.dbfinal.model.Problem">
        SELECT * FROM problem
        LEFT JOIN user_problem_relationship ON problem.id = user_problem_relationship.problem_id
        WHERE problem.status = 1
        AND user_problem_relationship.exam_id = #{examId}
        AND user_problem_relationship.user_id = #{userId}
        AND id = #{id}
        LIMIT 1;
    </select>

    <update id="deldteProblem" parameterType="int">
        UPDATE problem
        SET status = 0
        WHERE id = #{id}
    </update>

    <select id="getAllProblem" parameterType="com.xhtlwb.dbfinal.model.param.ProblemParam"
            resultType="com.xhtlwb.dbfinal.model.Problem">
        SELECT problem.*, user_problem_relationship.choose AS is_finish
        FROM problem
        LEFT JOIN exam_problem_relationship ON problem.id = exam_problem_relationship.problem_id
        LEFT JOIN user_problem_relationship ON problem.id = user_problem_relationship.problem_id AND
        exam_problem_relationship.exam_id = user_problem_relationship.exam_id
        <where>
            problem.status = 1
            AND exam_problem_relationship.exam_id = #{examId}
        </where>
    </select>

    <select id="getProblemStatus" parameterType="com.xhtlwb.dbfinal.model.param.ProblemParam"
            resultType="com.xhtlwb.dbfinal.model.param.ProblemParam">
        SELECT *
        FROM user_problem_relationship
        <where>
            status = 1
            AND user_id = #{userId}
            AND exam_id = #{examId}
            AND problem_id = #{problemId}
        </where>
        LIMIT 1;
    </select>

    <insert id="insertProblemStatus" parameterType="com.xhtlwb.dbfinal.model.param.ProblemParam" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO user_problem_relationship(user_id, problem_id, exam_id, choose, created_time, updated_time, status)
        VALUES (#{userId}, #{problemId}, #{examId}, #{choose}, now(), now(), 1)
    </insert>

    <update id="updateProblemStatus" parameterType="com.xhtlwb.dbfinal.model.param.ProblemParam">
        UPDATE user_problem_relationship
        SET
        choose = #{choose},
        updated_time = now()
        <where>
            user_id = #{userId} AND
            problem_id = #{problemId} AND
            exam_id = #{examId}
        </where>
    </update>
</mapper>