<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhtlwb.dbfinal.persistence.UserDao">

    <select id="getUser" parameterType="hashmap" resultType="com.xhtlwb.dbfinal.model.User">
        SELECT * FROM user
        WHERE status = 1 AND username = #{username}
        LIMIT 1;
    </select>

    <update id="updateInfo" parameterType="com.xhtlwb.dbfinal.model.User">
        UPDATE user
        SET
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="sex!=null">
            sex = #{sex},
        </if>
        <if test="mobile!=null">
            mobile = #{mobile},
        </if>
        <if test="email!=null">
            email = #{email},
        </if>
        <if test="address!=null">
            address = #{address},
        </if>
        <if test="image!=null">
            image = #{image},
        </if>
        <if test="type!=null">
            type = #{type},
        </if>
        updated_time = now()
        where id = #{id};
    </update>

    <update id="updatePassword" parameterType="com.xhtlwb.dbfinal.model.User">
        UPDATE user
        SET password = #{password},
        updated_time = now()
        where username = #{username};
    </update>

    <select id="login" parameterType="hashmap" resultType="com.xhtlwb.dbfinal.model.User">
        select * from user
        where username = #{username}
        limit 1;
    </select>

</mapper>